name: CI

on:
  push:
    branches:
      - main
    tags: ["*"]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    permissions:
      actions: write
      contents: read

    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.12"
        os:
          - ubuntu-latest
        arch:
          - x64

    steps:
      - uses: actions/checkout@v6

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - uses: julia-actions/cache@v2

      - uses: julia-actions/julia-buildpkg@v1

      - uses: julia-actions/julia-runtest@v1
        with:
          coverage: true

      - uses: julia-actions/julia-processcoverage@v1

      - name: Generate HTML coverage
        run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          genhtml lcov.info --output-directory coverage_html

      - name: Upload coverage HTML
        uses: actions/upload-artifact@v7
        with:
          name: coverage-html
          path: coverage_html

      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
